<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contents</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Car Inventory</h1>
    
    <table>
        <thead>
            <tr>
                <th>Stock ID</th>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Year</th>
                <th>Body Style</th>
                <th>Price</th>
                <th>Distance</th>
            </tr>
        </thead>
        <tbody>
            {% for item in results %}
            <tr>
                <td>{{ item[0] }}</td> <!-- Stock ID -->
                <td>{{ item[1] }}</td> <!-- Manufacturer Name -->
                <td>{{ item[2] }}</td> <!-- Model Name -->
                <td>{{ item[3] }}</td> <!-- Year -->
                <td>{{ item[4] }}</td> <!-- Body Style -->
                <td>{{ item[5] }}</td> <!-- Car Price -->
                <td>{{ item[6] }}</td> <!-- Distance -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>