<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="http://127.0.0.1:5000/contents">Our Stock</a>
    </div>
    
    <h1>Welcome to Southey Honda & Nissan</h1>
    <h2> WE SELL
        New Honda
        New Nissan
        Quality Used Vehicles of various makes and models
        Vehicle Finance and Insurance
        Used Vehicle Mechanical Warranties
        WE ALSO HAVE
        Full workshop facilities for servicing, repairs and warrant of fitness
        Comprehensive Parts Dept
        NZTA Services - Vehicle Registration, Road User Charges etc.</h2>
</body>
</html>